SENDMAIL_HOST=EMAIL_HOST
SENDMAIL_EMAIL=EMAIL
SENDMAIL_PASS=EMAIL_PASSWORD

SECRET_PASS_AUTH=SECRET_TOKEN
SECRET_RECOVERY_PASS=SECRET_RECOVERY_TOKEN
SECRET_DATA=SECRET_TOKEN

MYSQL_PROD_HOST=MYSQL_HOST
MYSQL_PROD_USER=MYSQL_USER
MYSQL_PROD_PASSWORD=MYSQL_PASS
MYSQL_PROD_DATABASE=MYSQL_DATABASE
MYSQL_TIMEZONE="America/Sao_Paulo"

APP_PORT=PORT
